<html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename="js/lib/jquery-1.11.2.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/lib/underscore-min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/lib/backbone-min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/joystick_view.js") }}"></script>
    <title>jarvis</title>
</head>
<body>

<script type="text/html" id="joystick-view">
    <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>"
            style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
    </canvas>
</script>

<div id="joystickContent">
</div>
<div>
    x: <span id="xVal"></span><br/>
    y: <span id="yVal"></span><br/>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        let joystickView = new JoystickView(500, function (callbackView) {
            $("#joystickContent").append(callbackView.render().el);
            setTimeout(function () {
                callbackView.renderSprite();
            }, 0);
        });
        let xCoord = 0;
        let yCoord = 0;
        joystickView.bind("verticalMove", function (y) {
            yCoord = y;
            $("#yVal").html(yCoord);
            $.get("setcar", {x: xCoord, y: yCoord})
        });
        joystickView.bind("horizontalMove", function (x) {
            xCoord = x;
            $("#xVal").html(xCoord);
            $.get("setcar", {x: xCoord, y: yCoord})
        });
    });

</script>


</body>
</html>


