<html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename="js/lib/jquery-1.11.2.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/lib/underscore-min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/lib/backbone-min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/joystick_view.js") }}"></script>
    <title>jarvis</title>
</head>
<body>

<script type="text/html" id="joystick-view">
    <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>"
            style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
    </canvas>
</script>

<div id="joystickContent"></div>
<div>
    <p>
        x: <span id="xVal"></span>
    </p>
    <p>
        y: <span id="yVal"></span>
    </p>
</div>

<script>

    let ws = new WebSocket("ws://127.0.0.1:8765/"),
        messages = document.createElement('ul');

    ws.onopen = function () {
        console.log("opened WebSocket");
    };

    ws.onclose = function () {
        console.log("closed WebSocket");
    };

    $(function () {
        let joystickView = new JoystickView(500, function (callbackView) {
            $("#joystickContent").append(callbackView.render().el);
            setTimeout(function () {
                callbackView.renderSprite();
            }, 0);
        });

        let xCoord = 0;
        let yCoord = 0;
        joystickView.bind("verticalMove", function (y) {
            yCoord = y;
            $("#yVal").html(yCoord);
            ws.send(`${xCoord}:${yCoord}`)
        });
        joystickView.bind("horizontalMove", function (x) {
            xCoord = x;
            $("#xVal").html(xCoord);
            ws.send(`${xCoord}:${yCoord}`)
        });
        joystickView.bind("end", function (x) {
            $("#xVal").html(0);
            $("#yVal").html(0);
            ws.send(`${xCoord}:${yCoord}`)
        });
    });

</script>


</body>
</html>


